[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Saint-Roche-Microsystems/Auth-Service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Saint-Roche-Microsystems/API-Gateway.git
[submodule "bets-service"]
	path = bets-service
	url = https://github.com/Saint-Roche-Microsystems/Bets-Service.git
[submodule "users-service"]
	path = users-service
	url = https://github.com/Saint-Roche-Microsystems/Users-Service.git
[submodule "progression-service"]
	path = progression-service
	url = https://github.com/Saint-Roche-Microsystems/Progression-Service.git
